body {
  margin: 0;
}
.mc-header {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  margin: 0;
}
.mc-header-separator {
  width: 100%;
  height: 16px;
  background: rgb(240, 246, 249);
  margin: 0;
  border: none;
}
.mc-header .mc-nav {
  display: flex;
  align-items: center;
  border-bottom: 3px solid #dee6e6;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  box-sizing: border-box;
  height: 65px;
  line-height: 65px;
}
.mc-header .mc-navbrand {
  min-width: 58px;
  font-size: 0;
  padding: 7px 15px 5px 22px;
  float: left;
  line-height: 0;
}
.mc-nav .mc-navlink {
  display: inline-block;
  padding: 14px 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  height: 60px;
  box-sizing: border-box;
  text-align: center;
  color: #455860;
  text-decoration: none;
}
.mc-header .mc-navlink:hover {
  color: #8fa5af;
}
.mc-nav .mc-navlink.active {
  color: #cc1b30;
  pointer-events: none;
  cursor: default;
}
.mc-header .mc-more-dropdown {
  position: relative;
  z-index: 200;
}
.mc-header .mc-drop-menu {
  display: none;
  position: absolute;
  right: 0;
  background-color: #fff;
  min-width: 220px;
  border-radius: 6px;
  border: 2px solid #dee6e6;
  z-index: 100;
  padding: 5px 0;
  margin-top: -8px;
}
.mc-header .mc-drop-menu a {
  display: block;
  color: #455860;
  font-weight: 300;
  padding: 10px 14px;
  font-size: 16px;
  line-height: 10px;
  text-decoration: none;
}
.mc-header .mc-drop-menu a:hover {
  background-color: #fbfcfc;
}
.mc-header ul.mc-breadcrumb {
  padding: 7px 10px 7px 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 2px;
  border: 1px solid #d6d6d6;
  font-size: 16px;
  font-weight: 300;
  font-family: sans-serif;
  text-align: left;
  margin: 10px 15px 30px 15px;
  overflow: hidden;
  display: flex;
  justify-content: start;
  align-items: center;
}
.mc-header ul.mc-breadcrumb li {
  color: #303f9f;
  display: inline;
  line-height: 1;
  margin-right: 46px;
  position: relative;
}
.mc-header ul.mc-breadcrumb li a {
  text-decoration: none;
}
.mc-header ul.mc-breadcrumb li a[href]:hover {
  text-decoration: underline;
}

.mc-header .mc-breadcrumb li a::after {
  content: " ";
  display: block;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid #f5f5f5;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  z-index: 2;
  right: 0;
  transform: translate(30px, 0);
}
.mc-header .mc-breadcrumb li a::before {
  content: " ";
  display: block;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid #d6d6d6;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 2px;
  right: 0;
  z-index: 1;
  transform: translate(32px, 0);
}
.mc-header .mc-breadcrumb li:last-child a {
  background: transparent !important;
  color: #303f9f;
}
.mc-header .mc-breadcrumb li:last-child a::after,
.mc-header .mc-breadcrumb li:last-child a::before {
  border: 0;
  display: none;
}
