body {
  font-family: sans-serif;
  margin: 0;
  background: #fafafa;
}

.mc-header {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.mc-nav {
  background-color: #fff;
  overflow: hidden;
  border-bottom: 3px solid #dee6e6;
  z-index: 10;
  font-family: sans-serif;
  font-weight: 700;
}

.mc-nav .mc-navbrand {
  font-size: 0px;
  margin-top: -8px;
  margin-left: -5px
}

.mc-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.mc-nav .mc-navlink {
  float: left;
  display: block;
  color: #455860;
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
}

.mc-nav .mc-navlink:hover {
  color: #8fa5af;
}

.mc-nav .mc-navlink.active {
  background-color: #fbfcfc;
  color: #cc1b30;
  pointer-events: none;
  cursor: default;
}

.mc-nav .mc-navlink.active:hover {
  color: #cc1b30;
}
/* Style the list */
ul.mc-breadcrumb {
  padding: 7px 10px 7px 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 2px;
  border: 1px solid #d6d6d6;
  font-size: 16px;
  font-weight: 300;
  font-family: sans-serif;
  text-align: left;
  margin: 6px;
  margin-bottom: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row;

  justify-content: start;
  align-items: center;
}

ul.mc-breadcrumb li {
  display: inline;
  line-height: 1;
  margin-right: 46px;
  position: relative;
}

ul.mc-breadcrumb li a {
  color: #303f9f;
  text-decoration: none;
}

ul.mc-breadcrumb li a[href]:hover {
  text-decoration: underline;
}

ul.mc-breadcrumb li a:not([href]):hover {
  color: #303f9f;
}

.mc-breadcrumb li a::after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid #f5f5f5;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  z-index: 2;
  right: 0;
  z-index: 2;
  transform: translate(30px, 0);
}

.mc-breadcrumb li a::before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid #d6d6d6;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 2px;
  right: 0;
  z-index: 1;
  transform: translate(32px, 0);
}

.mc-breadcrumb li:last-child a {
  background: transparent !important;
  color: #303f9f;
}
.mc-breadcrumb li:last-child a::after,
.mc-breadcrumb li:last-child a::before {
  border: 0;
  display: none;
}
